body{
    background-color: blue;
}
.kuruk{
    background-color: cornflowerblue;
}
.kioshi{
    background-color: green;
}
.roku{
    background-color: crimson;
}
.yangcheng{
    background-color: cyan;
}