body{
    background-color: yellowgreen;
}
.aang{
    background-color: cornflowerblue;
}
.katara{
    background-color: darkblue;
}
.toph{
    background-color: greenyellow;
}
.zuko{
    background-color: crimson;
}