body{
    background-color: yellowgreen;
}
.avatar{
    background-color: red;
}
.avatarsbeforhim{
    background-color: darkorange;
}
.allfourbending{
    background-color: gold;
}
.avatarafterhim{
    background-color: chartreuse;
}
