body{
    background-color: blue;
}
.water{
    background-color: blueviolet;
}
.earth{
    background-color: chartreuse;
}
.fire{
    background-color: crimson;
}
.air{
    background-color: darkorange;
}