body{
    background-color: blue;
}
.aang{
    background-color: cornflowerblue;
}
.katara{
    background-color: darkblue;
}
.toph{
    background-color: chartreuse;
}
.zuko{
    background-color: crimson;
}