body{
    background-color: blue;
}
.avatar{
    background-color: blueviolet;
}
.avatarsbeforhim{
    background-color: chartreuse;
}
.allfourbending{
    background-color: crimson;
}
.avatarafterhim{
    background-color: darkorange;
}